#facebook, #twitter, #website{
    cursor: pointer;
    height: 50px;
    fill: #fff;
}
/* ESTILO DE ENCUESTAS */
.tusencuestas_encuesta
{
    /* Define aquí los estilos de la encuesta en general */
    /* Por ejemplo, dale un color de fondo:*/
    background-color: #f2f2f2;
    
}

.tusencuestas_pregunta
{
    /* Define aquí el estilo de la pregunta */
    /* Por ejemplo, haz que el título de la encuesta (la pregunta) esté en negrita*/
    font-weight: bold;
    
}   

.tusencuestas_respuestas
{
    /* Define aquí el estilo de las respuestas */
    /* Por ejemplo, haz que las respuestas estén en azul:*/
    color: blue;
    
} 

.tusencuestas_inferior
{
    /* Define aquí el estilo de la parte inferior de la encuesta */
    /* Por ejemplo: */
    font-size: 9px;
    color: blue;
   
}

a.tusencuestas_inferior
{
    /* También referido a la parte inferior, pero en particular a los enlaces*/
    /* Por ejemplo:*/
    color: red;
    
}

input.tusencuestas_inferior
{
    /* También referido a la parte inferior, pero en particular al botón de votar */
    /* Por ejemplo:*/
    font-family: verdana,tahoma,sans-serif;
    font-size: 10px;    
    color:black;
    text-decoration:normal; 
    border: 1px groove black;
    
}

/**** css del gif de carga ***/
.gif1{
    text-align: center;
    padding:20% 10% 20% 10%;
}
.gif2{
    text-align: center;
    padding:20% 25% 20% 25%;
}

.btn-sm {
    margin-top: 1px;
}

.cvertical{
            vertical-align:middle;
        }

#nombre-columna {
    background-color:#666;
    margin-top: 10px;
    min-height:50px; 
    margin-bottom: 1em;
    width: 100%;
    color:white; 
    font-size:16pt;
    
}

#comuna {
    background-color: #666;
    min-height:50px;
    color:white;
    margin-top: 10px;
    width: auto;
    border-radius: 2px;
    padding: 5px; 
    font-family: 'Oswald';
    font-size: 26pt;
    font-weight: 400;

}

/*! Estilo de Noticias */
section.info-collapse  {

    display: inline-flex;
}
.info-pro{
    max-width: 300px;
    min-width: 275px; 
    padding-top: 1em;
    padding-bottom: 1em;
}

.noticia {

    width: auto;
    height: auto;
    padding: 1em;
    padding-left: 2em;
    
}

.titulo{

    font-family: 'Oswald';
    font-size: 16pt;
    font-size: 700;
}

.bajada {

    font-size: 10pt;
    justify-content: all;
}

/*! Transiciones de Mapa */
#Mapa {
    margin-top: -40px;
    margin-bottom: -50px;
}

.select:active {
    cursor: pointer;
    fill: #005ea9;
}

.select:hover {
    cursor: pointer;
    fill :#64b8c6;
    -webkit-transition: 
    fill 0.5s ease-out;
    -moz-transition: 
    fill 0.5s ease-out;
    -o-transition: 
    fill 0.5s ease-out;
    -ms-transition: 
    fill 0.5s ease-out;
    transition: 
    fill 0.5s ease-out;
}
